a {
    text-decoration: none;
    color: inherit;
}

main {
    background-color: #ededed;
    border-radius: 10px;
    padding: 5px 20px 1px 20px;
    width: 95%;
    max-width: 500px;
    margin: 0 auto 20px;
    color: #000 !important;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.text-container {
    text-align: center;
}

.quiz-options {
    margin: 10px 0;
}

[type=radio] {
    border: 0;
    height: 0.0625rem;
    width: 0.0625rem;
    position: absolute;
}

label {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 6px 0;
    position: relative;
    width: 100%;
    color: #000;
    background-color: #fff;
}

label:hover .alphabet {
    background: #000;
    color: #fff;
}

label .alphabet {
    border-radius: 5px;
    padding: .4rem .5rem .4rem;
    width: 2.3rem;
    margin: 0 1.3rem 0 .7rem;
    display: flex;
    justify-content: center;
    color: #000;
}

label .icon {
    height: auto;
    position: absolute;
    left: 92%;
    top: 12px;
}

label .jdsjkefkefkefefexco {
    width: 22px;
}

.jshdgdgwgdwfdfwdwjfdjwwdwdco:checked+label {
    background: rgb(18, 89, 213);
    font-weight: bold;
    text-transform: uppercase;
}

.jshdgdgwgdwfdfwdwjfdjwwdwdco:checked+label .alphabet {
    background: #000000;
    color: #FFF;
}

.jshdgdgwgdwfdfwdwjfdjwwdwdin:checked+label {
    font-weight: bold;
    text-transform: uppercase;
}

.jshdgdgwgdwfdfwdwjfdjwwdwdin:checked+label .alphabet {
    background: #000;
    color: #fff;
}

input:invalid+label {
    background: #fff;
}

input:invalid+label:hover {
    background: linear-gradient(to right, #d8d9da 10%, #ffffff 80%);
}

input:valid+label {
    color: rgb(0, 0, 0);
}

#btn {
    border: 1px solid #000;
    border-radius: 50px;
    background: rgb(247, 206, 206);
    color: #000;
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    width: 57%;
    margin: 0 auto;
    outline: none;
    padding: 11px 0;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#btn:hover {
    background: rgba(255, 255, 255, 0.671);
    color: rgba(0, 0, 0, 0.749);
    border: 1px solid #000;
}

form:invalid #btn {
    pointer-events: none;
    background: rgba(248, 214, 214, 0.767);
}

.btn:hover {
    background: #000;
    color: #fff;
}

.score-counter {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 210px;
    height: 9%;
    background: rgba(0, 0, 0, 0.749);
    border: 4px solid #000;
    position: fixed;
    top: 5px;
    right: 10px;
    box-shadow: inset 2px -2px 9px #020202, inset -2px 2px 9px #d2d2d2;
}

.score-text {
    margin: 0 20px;
}

.score-counter::after {
    content: counter(points) "/5";
}

.one-a:checked,
.two-c:checked,
.three-c:checked,
.four-b:checked,
.five-a:checked {
    counter-increment: points;
}

h1::before {
    content: attr(data-heading);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    color: transparent;
    mix-blend-mode: screen;
    animation: shine 1s infinite;
    background-size: 200%;
    text-shadow: 2px 2px 10px rgba(#000, 0.2), -2px 2px 10px rgba(#000, 0.2), -2px -2px 10px rgba(#000, 0.2);
}

.over-text-cont {
    text-align: center;
}

.over-text-cont h2 {
    font-family: 'Sirin Stencil', cursive;
}

.over-text-cont h2::after {
    content: counter(points) "0/50";
    margin-left: 15px;
}

#refresh {
    color: #fff;
    position: relative;
    height: 100vh;
}

/* MEDIA QUERY */

@media (max-width: 420px) {
    body {
        font-size: .8rem;
    }

    main {
        width: 92%;
    }

    label {
        font-size: .71rem;
    }

    label .alphabet {
        margin: 0 .9rem 0 .7rem;
    }

    label .jdsjkefkefkefefexco {
        width: 16px;
    }

    #game-over h1 {
        font-size: 3rem;
    }

    .score-counter {
        width: 120px;
        height: 5%;
        font-size: .7rem;
    }

    .score-text {
        margin: 0 20px 0 0;
    }

    .over-text-cont h2 {
        margin-bottom: 40px;
    }

    .over-text-cont #btn {
        padding: 3px 0;
    }

    .refresh-content {
        width: 90%;
    }

    .refresh-content {
        display: grid;
        font-size: .8rem;
    }
}

@media (max-width: 325px) {

    label {
        font-size: .63rem;
    }

    label .alphabet {
        margin: 0 .55rem 0 .7rem;
    }

    label .jdsjkefkefkefefexco {
        width: 14px;
    }

}
